Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteRule ^activateReg/(.*)$ ./activateReg.php?code=$1
RewriteRule ^login$ ./login.php
RewriteRule ^checkEmail$ ./checkEmail.php
RewriteRule ^login/(.*)$ ./login.php?login=$1
RewriteRule ^addArticle$ ./addArticle.php
RewriteRule ^addCategory$ ./addCategory.php
RewriteRule ^logout$ ./logout.php
RewriteRule ^registration$ ./registration.php
RewriteRule ^editArticle/(.*)$ ./editArticle.php?id=$1
RewriteCond %{REQUEST_URI} !/(styles|img|scripts|activateReg|login|checkEmail|addArticle|addCategory|logout|registration|editArticle)
RewriteRule ^([a-zA-Z-0-9-]*)/([a-zA-Z-0-9-]*)$ ./article.php?category=$1&link=$2 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z-0-9-]*)$ ./category.php?link=$1 [L,QSA]