@font-face {
    font-family: lf-normal;
    src: url('fonts/LibreFranklin-Regular.ttf') format('truetype');
}
@font-face {
    font-family: lf-bold;
    src: url('fonts/LibreFranklin-Bold.ttf') format('truetype');
}
body {
    margin:0;
    font-family: lf-normal;
}
.main-contents {
    width: 800px;
    margin: 0 auto;
}
header {
    border-bottom: 3px solid black;
    margin-bottom: 20px;
}
header h1 {
    text-align: center;
    margin: 0;
}
.header-links {
    display: flex;
}
.header-links a {
    display: table;
    margin: auto;
    color: black;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 40px;
    text-align: center;
    vertical-align: center;
    padding-top: 20px;
}
header p {
    text-align: center;
}
.header-links a:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: rgb(221, 215, 215);
}
footer {
    border-top: 3px solid black;
    margin-top: 20px;
}
footer p {
    font-weight: bold;
    text-align: center;
}
.articles-container {
    height: calc(100vh - 200px);
}
.article {
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}
.articles-container .article:last-child {
    border-bottom: unset;
}
.article .article-header h2 {
    margin-bottom: 0;
}
.article .article-header .article-title {
    font-size: 24px;
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.article .article-header .article-title:hover {
    cursor: pointer;
    text-decoration: underline;
}
.article .article-header .article-data {
    margin-top: 0;
    font-size: 14px;
}
.article .article-header .article-data span {
    margin-right: 5px;
    font-weight: bold;
}
.article .article-header .article-data .separator {
    font-weight: normal;
}
.article .article-header .article-data a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.article .article-header .article-data a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.article .article-content {
    display: flex;
}
.article .article-content .article-image {
    width: 450px;
    height: 240px;
    object-fit: cover;
    flex: none;
}
.article .article-content .article-summary {
    margin: 0;
    margin-left: 10px;
    text-align: justify;
}
.article pre {
    font-family: lf-normal;
    font-size: 16px;
    white-space: pre-wrap;
    text-align: justify;
}
@media (max-width: 800px) {
    .main-contents {
        width: 100%;
    }
    .article .article-content {
        display: block;
    }
    .article .article-content .article-image {
        width: 100%;
    }
    .article .article-content .article-summary {
        margin-left: 0px;
    }
    .article {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header-links {
        display: block;
    }
}